.project-addedit-window {
  max-width: 600px;
  min-width: 500px;
  min-height: 200px;
  height: auto;
  /* margin: 5px; */
  /* display: flex;
  flex-direction: column; */
}

.proj-card {
  /* min-width: 300px; */
  margin: 15px;
}

.project-field-width {
  width: 300px;
}

