<div>
  <mat-accordion>
    <div style="width:100%;">
        <!-- <span style="text-align: right; flex-wrap: wrap-reverse;">
            <button mat-flat-button (click)="cancelDialog();"><mat-icon>cancel</mat-icon></button>
          </span> -->
        <h2 mat-dialog-title>{{this.projectToSave.ProjectId === 0 || this.projectToSave.ProjectId === undefined ? 'Create a new Project': 'Editing Project - "' + this.projectToSave.ProjectName + '"'}}</h2>
    </div>
  <mat-dialog-content>
    <mat-card class="card edit-card">
      <mat-card-header>
        <mat-card-title>Project Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form class="card-addedit-window">
            <table cellspacing="10" style="width: 100%">
              <tr>
                <td>
                  <mat-form-field class="card-field-width">
                    <mat-label>Project Name</mat-label>
                    <input matInput placeholder="Project Name" [(ngModel)]="projectToSave.ProjectName" name="ProjectName"
                    maxlength="255" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="card-field-width">
                    <mat-label>Project Manager</mat-label>
                    <mat-select placeholder="Project Manager" [(ngModel)]="projectToSave.ManagerId" name="projectManagerDropdown" required>
                      <mat-option>-- Select --</mat-option>
                      <mat-option *ngFor="let user of this.activeUsers" [value]="user.Id">
                        {{user.FullName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                    <mat-label>Priority</mat-label><br/>
                    <mat-slider min="1" max="30" step="1" [(ngModel)]="projectToSave.Priority" class="card-field-width"
                    thumbLabel tickInterval="1"  color="primary" name="priority" required></mat-slider>&nbsp;
                    <!-- <mat-form-field>
                      <input width="20" matInput type="text" readonly name="prioritytxt" [(ngModel)]="projectToSave.Priority" required>
                    </mat-form-field> -->
                    <!-- <input type="range" min="1" max="30" step="1" [(ngModel)]="projectToSave.Priority" name="priority" required /> -->
                    <!-- <input matInput type="text" placeholder="Priority between 1 to 30" [(ngModel)]="projectToSave.Priority" name="priorityv" required> -->
                </td>
              </tr>
              <tr>
                <td>
                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Project timeline
                      </mat-panel-title>
                      <mat-panel-description>
                          Expand for Project Start and End date(s)
                        <!-- <ng-template [ngIf]="projectToSave.ProjectStart !== null && projectToSave.ProjectEnd !== null" [ngIfElse]="SingleDatedTemplate">
                          Project starts on {{projectToSave.ProjectStart | date:'shortDate' }} and Ends by {{projectToSave.ProjectEnd | date:'shortDate'}}
                        </ng-template>
                        <ng-template #SingleDatedTemplate [ngIf]="projectToSave.ProjectStart !== null && projectToSave.ProjectEnd === null" [ngIfElse]="NoDatedTemplate">
                          Project starts on {{projectToSave.ProjectStart | date:'shortDate' }}
                        </ng-template>
                        <ng-template #NoDatedTemplate [ngIf]="(projectToSave.ProjectStart === undefined || projectToSave.ProjectStart === null) &&
                        (projectToSave.ProjectEnd === undefined || projectToSave.ProjectEnd === null)">
                            Expand to set Project Start and End date(s)
                          </ng-template> -->
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-accordion>
                      <mat-form-field class="card-field-width">
                        <mat-label>Project Start date</mat-label>
                        <input matInput type="date" placeholder="Start date" [ngModel]="projectToSave.ProjectStart | date: 'yyyy-MM-dd'" name="startDate"
                        (ngModelChange)="projectToSave.ProjectStart = $event">
                      </mat-form-field>
                      <mat-form-field class="card-field-width">
                        <mat-label>Project End date</mat-label>
                        <input matInput type="date" placeholder="End date" [ngModel]="projectToSave.ProjectEnd | date: 'yyyy-MM-dd'" name="endDate"
                        (ngModelChange)="projectToSave.ProjectEnd = $event">
                      </mat-form-field>
                  </mat-accordion>
                  </mat-expansion-panel>
                </td>
              </tr>
              <!-- <tr>
                <td>
                  <mat-form-field class="project-field-width">

                  </mat-form-field>
                </td>
              </tr> -->
            </table>
          </form>
          <mat-progress-bar mode="indeterminate" [style.display]="workInProgress ? 'block' : 'none'"></mat-progress-bar>
          <!-- {{this.projectToSave | json }} -->
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-button (click)="Save()" [disabled]="workInProgress"><mat-icon>save</mat-icon> SAVE</button>
        <button mat-button (click)="cancelDialog();"><mat-icon>cancel</mat-icon> CANCEL</button>
      </mat-card-actions>
    </mat-card>
  </mat-dialog-content>
</mat-accordion>
</div>
