<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
      <button mat-button routerLink="/"><h1>{{title.split(' ')[0]}} <strong>{{title.split(' ')[1]}}</strong></h1></button>
    </span>
  <!-- <mat-toolbar-row> -->
    <button class="menu_button" mat-button [routerLink]="['/home']" routerLinkActive="active"><mat-icon>home</mat-icon> Home</button>
    <button class="menu_button" mat-button [routerLink]="['/users']"><mat-icon>people</mat-icon> Users</button>
    <button class="menu_button" mat-button [routerLink]="['/Projects']"><mat-icon>next_week</mat-icon> Projects</button>
    <button class="menu_button" mat-button [routerLink]="['/Tasks']"><mat-icon>assignment</mat-icon> Tasks</button>
  <!-- </mat-toolbar-row> -->
</mat-toolbar>
<router-outlet></router-outlet>
