<div class="page-header">
<div class="container" style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Projects']">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ViewTask']">Tasks</a>
      </li>-->
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/ViewTask']">View Tasks</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    <!-- </ul>
  </div>
</nav>  -->

<mat-toolbar color="">
  <mat-toolbar-row>
    <a mat-button class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
    <a mat-button class="nav-link" [routerLink]="['/Projects']">Projects</a>
    <a mat-button class="nav-link" [routerLink]="['/ViewTask']">Tasks</a>
    <a mat-button class="nav-link" [routerLink]="['/users']">Users</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
