.fixed-header {
  position: fixed;
  top: 100;
  left: 0;
  width: 100%  !important;
}

.expanded-toolbar {
  /* justify-content: space-between; */
  align-items: center;
}

.menu_button:hover {
  /* background-color: darkmagenta; */
  border-width: 0 0 0.15pc 0;
  border-style: none none inset none;
}
