<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
      <button mat-button routerLink="/"><h1>{{title}}</h1></button>
    </span>
  <!-- <mat-toolbar-row> -->
    <button mat-button [routerLink]="['/home']" routerLinkActive="active"><mat-icon>home</mat-icon> Home</button>
    <button mat-button [routerLink]="['/Projects']">Projects</button>
    <button mat-button [routerLink]="['/ViewTask']">Tasks</button>
    <button mat-button [routerLink]="['/users']">Users</button>
  <!-- </mat-toolbar-row> -->
</mat-toolbar>

<router-outlet></router-outlet>
