<mat-toolbar class="mat-active" layout="row" fxLayoutAlign="start" layout-padding style="height: 100px; vertical-align: middle">
  <mat-toolbar-row style="height: 100%;">

    <!-- <button mat-raised-button color="primary" (click)="AddNew()"><mat-icon>add</mat-icon> Add New</button> -->
    <mat-divider class="vertical-divider"></mat-divider>

    <!-- <mat-slide-toggle [(ngModel)]="activeOnly" (cdkAutofill)="GetAllUsers();" (change)="GetAllUsers();" style="margin-left: 20px;"
    (toggleChange)="GetAllUsers();" aria-label="Active Only" ngDefaultControl>Active Only</mat-slide-toggle> -->
    <mat-divider class="vertical-divider"></mat-divider>

    <span class="tlbSpacer"></span>
    <mat-form-field style="width: 100%; margin-left: 5%; margin-right: 5%;">
      <input matInput name="searchProject" placeholder="Search by Project / Task / Manager names" type="text" width="250px" [(ngModel)]="searchKeyword" ngDefaultControl>
    </mat-form-field>
    <!-- <button button="submit" mat-raised-button color="active" style="margin-left: 10px;" (click)="Search()">Search</button> -->

    <span class="tlbSpacer"></span>
    <span class="tlbSpacer"></span>
    <span class="tlbSpacer"></span>
    <span class="tlbSpacer"></span>
    <!-- Sort by:&nbsp;
    <mat-radio-group [(ngModel)]="sortParam" (change)="Sort()" ngDefaultControl>
      <mat-radio-button value="FirstName">First Name</mat-radio-button>&nbsp;
      <mat-radio-button value="LastName">Last Name</mat-radio-button>&nbsp;
      <mat-radio-button value="UserId">User Id</mat-radio-button>
    </mat-radio-group> -->

  </mat-toolbar-row>
</mat-toolbar>

<div style="vertical-align: middle; text-align: center;align-content: center; height: 50px;" [style.display]="loadingInProgress ? 'block' : 'none'" color="warn">
  <mat-progress-bar mode="query" [style.display]="loadingInProgress ? 'block' : 'none'" color="warn"></mat-progress-bar>
  <span class="loading-text-style">Loading...</span>
</div>

<mat-accordion class="root-card-wrapper">
  <ng-container *ngFor="let project of AllProjects">
      <app-project class="project-card-comp" [ItemSource]="project"></app-project>
  </ng-container>
  <mat-card class="project-card-mini">
      <mat-card-header fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>{{addNewTitleForSearch}}
        </mat-card-title>
        <mat-card-subtitle>&nbsp;
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="height: 50%; align-content: center">
        <button mat-flat-button color="secondary" style="width: 100%;height: 100%;" (click)="AddNew()"><mat-icon>add</mat-icon> Add New</button>
      </mat-card-content>
    </mat-card>
</mat-accordion>
