/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/* body, .body-like-bg {
  margin: 0;
  background-color: darkgray;
  font-family: "Helvetica Neue", sans-serif;
} */

html, body {
  margin: 0;
  height: 100%;
  /* background-color: $brand-primary; */
}

.button-space {
  margin: 5px;
}

.snackBarNotifications {
  background-color: black;
  margin-top: 40%;
  color: antiquewhite;
}

h1, h2 {
  text-align: center;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: darkgrey;
  margin-left: 20x;
  height: 80%;
}

.tlbSpacer {
  margin-left: 20px;
}

.root-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
